@-webkit-keyframes enterPopup{
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    100% {
        opacity: 100;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10000)";
    }
}

@keyframes enterPopup{
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    100% {
        opacity: 100;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10000)";
    }
}

@-webkit-keyframes exitPopup{
    0% {
        opacity: 100;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10000)";
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes exitPopup{
    0% {
        opacity: 100;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10000)";
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

html{
    --color-techgold: #C4B55F;
}

body{
    font-family: 'Oxygen', sans-serif;
}

.centerDiv {
    /*
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    */
    text-align: center;
    margin: auto;
    width: 80%;
}

.blur {
   color: transparent;
   text-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.logoIMG{
    width: 15vw;
}

.headText{
    font-size: 5vh;
    font-weight: 400;
    margin: 1vh 1vh 3vh 1vh;
}

.bodyText{
    color: grey;
    font-size: 3vh;
}

.button{
	background-color: var(--color-techgold);
	text-align: center;
	text-transform: uppercase;
	border: none;
	font-size: 3vh;
	padding: 1vw;
	width: 35vh;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	display: inline-block;
    padding-left: 0;
    padding-right: 0;
    border-radius: 1000vh;
}

.button .buttonSpan {
	cursor: pointer;
	display: inline-block;
	position: relative;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.button .buttonSpan:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	top: 0;
	right: -20px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.button:hover .buttonSpan {
	padding-right: 25px;
}

.button:hover .buttonSpan:after {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	right: 0;
}

.button2{
    margin-top: 2vh;
}

.button3{
    margin: 2vh;
}

.codePopupBackground{
	background-image: -webkit-gradient(
		linear,
		left top, right bottom,
		from(rgba(0,0,0,0.3)),
		to(rgba(0,0,0,0.3)));
	background-image: -webkit-linear-gradient(
		left top,
		rgba(0,0,0,0.3),
		rgba(0,0,0,0.3));
	background-image: linear-gradient(
		to right bottom,
		rgba(0,0,0,0.3),
		rgba(0,0,0,0.3));
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 99999;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    display: none;
}

.codePopupInactive{
    -webkit-animation: exitPopup;
            animation: exitPopup;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    display: inherit;
}

.codePopupInactiveEnd{
    display: none;
}

.codePopupActive{
    -webkit-animation: enterPopup;
            animation: enterPopup;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    display: inherit;
}

.buttonHead{
    padding-top: 2vh;
    margin: auto;
    margin-bottom: 2vh;
}

.codePopup{
    display: block;
    position: static;
    margin: auto;
    width: 60%;
    background-color: whitesmoke;
    border-radius: 5vh;
    margin-top: 10vh;
}

.codeInput{
	width: 40%;
    height: 5vh;
    margin: 2vh;
    border-radius: 10px;
    border: 3px solid darkgrey;
    padding: 10px;
    text-decoration: none;
    font-size: 3vh;
    color: grey;
    text-align: center;
}

.bodyTextSub{
    font-size: 4vh;
    color: slategray;
}

.bodyTextQ{
    color: darkslategray;
    margin-bottom: 0;
}

.bodyTextA{
    margin-top: 1vh;
}

.headerStroke {
    margin: auto;
    margin-top: 3vh;
    width: 60vw;
    border-radius: 1000px;
    height: 1vh;
    background-color: palegoldenrod;
}

.footerText{
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
    color: darkgrey;
    font-size: 1.5vh;
}

.lastFooter{
    margin-bottom: 3vh;
}